/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin/roboto-v20-latin-300.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin/roboto-v20-latin-regular.woff2') format('woff2');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin/roboto-v20-latin-500.woff2') format('woff2');
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/roboto-v20-latin/roboto-v20-latin-700.woff2') format('woff2');
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url('../fonts/poppins-v9-latin/poppins-v9-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url('../fonts/poppins-v9-latin/poppins-v9-latin-regular.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url('../fonts/poppins-v9-latin/poppins-v9-latin-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('../fonts/poppins-v9-latin/poppins-v9-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url('../fonts/poppins-v9-latin/poppins-v9-latin-700.woff2') format('woff2');
}

/* fallback */
/* Material Icons */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* vazir-300 */
@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 300;
  src: local('Vazir Light'), local('Vazir-Light'), url('../fonts/vazir/Vazir-Light-FD.woff2') format('woff2');
}
/* vazir-regular */
@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 400;
  src: local('Vazir'), local('Vazir-Regular'), url('../fonts/vazir/Vazir-FD.woff2') format('woff2');
}
/* vazir-500 */
@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 500;
  src: local('Vazir Medium'), local('Vazir-Medium'), url('../fonts/vazir/Vazir-Medium-FD.woff2') format('woff2');
}
/* vazir-700 */
@font-face {
  font-family: 'Vazir';
  font-style: normal;
  font-weight: 700;
  src: local('Vazir Bold'), local('Vazir-Bold'), url('../fonts/vazir/Vazir-Bold-FD.woff2') format('woff2');
}
