<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CommonResources" value="http://45.147.77.29:99/DefaultCollection/Mozaeek_Common_Resources/_packaging/CommonResources/nuget/v3/index.json" />
  </packageSources>
	<packageSourceCredentials>
		<CommonResources>
			<add key="Username" value="a.ebrahimi" />
			<add key="ClearTextPassword" value="!QAZ2wsx" />
		</CommonResources>
	</packageSourceCredentials>
</configuration>